
\!logo.png
bin/autopoint
bin/gettextize
bin/glew32.dll
bin/glfw3.dll
bin/libasprintf-0.dll
bin/libatomic-1.dll
bin/libcharset-1.dll
bin/libexpat-1.dll
bin/libfreeglut.dll
bin/libgcc_s_dw2-1.dll
bin/libgettextlib-0-19-8-1.dll
bin/libgettextpo-0.dll
bin/libgettextsrc-0-19-8-1.dll
bin/libgmp-10.dll
bin/libgmpxx-4.dll
bin/libgomp-1.dll
bin/libiconv-2.dll
bin/libintl-8.dll
bin/libquadmath-0.dll
bin/libssp-0.dll
bin/libstdc++-6.dll
bin/libwinpthread-1.dll
bin/libzstd.dll
bin/SeewoKiller.exe
bin/SeewoKiller.ico
bin/zlib1.dll
Licence.txt
SeewoFreeze/\!SeewoFreezeUI.bat
SeewoFreeze/1910ffa0-36a5-31da-7600-b8b380ebcd6b.tmf
SeewoFreeze/8d4dc25b-3ffb-37d3-bc3d-0ec21f1fce8e.tmf
SeewoFreeze/api-ms-win-core-console-l1-1-0.dll
SeewoFreeze/api-ms-win-core-datetime-l1-1-0.dll
SeewoFreeze/api-ms-win-core-debug-l1-1-0.dll
SeewoFreeze/api-ms-win-core-errorhandling-l1-1-0.dll
SeewoFreeze/api-ms-win-core-file-l1-1-0.dll
SeewoFreeze/api-ms-win-core-file-l1-2-0.dll
SeewoFreeze/api-ms-win-core-file-l2-1-0.dll
SeewoFreeze/api-ms-win-core-handle-l1-1-0.dll
SeewoFreeze/api-ms-win-core-heap-l1-1-0.dll
SeewoFreeze/api-ms-win-core-interlocked-l1-1-0.dll
SeewoFreeze/api-ms-win-core-libraryloader-l1-1-0.dll
SeewoFreeze/api-ms-win-core-localization-l1-2-0.dll
SeewoFreeze/api-ms-win-core-memory-l1-1-0.dll
SeewoFreeze/api-ms-win-core-namedpipe-l1-1-0.dll
SeewoFreeze/api-ms-win-core-processenvironment-l1-1-0.dll
SeewoFreeze/api-ms-win-core-processthreads-l1-1-0.dll
SeewoFreeze/api-ms-win-core-processthreads-l1-1-1.dll
SeewoFreeze/api-ms-win-core-profile-l1-1-0.dll
SeewoFreeze/api-ms-win-core-rtlsupport-l1-1-0.dll
SeewoFreeze/api-ms-win-core-string-l1-1-0.dll
SeewoFreeze/api-ms-win-core-synch-l1-1-0.dll
SeewoFreeze/api-ms-win-core-synch-l1-2-0.dll
SeewoFreeze/api-ms-win-core-sysinfo-l1-1-0.dll
SeewoFreeze/api-ms-win-core-timezone-l1-1-0.dll
SeewoFreeze/api-ms-win-core-util-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-conio-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-convert-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-environment-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-filesystem-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-heap-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-locale-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-math-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-multibyte-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-private-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-process-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-runtime-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-stdio-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-string-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-time-l1-1-0.dll
SeewoFreeze/api-ms-win-crt-utility-l1-1-0.dll
SeewoFreeze/api-ms-win-eventing-provider-l1-1-0.dll
SeewoFreeze/AutoAdminRun.bat
SeewoFreeze/BackgroundDefault.jpg
SeewoFreeze/BcdeditOutput.txt
SeewoFreeze/BlueScreenView.exe
SeewoFreeze/concrt140.dll
SeewoFreeze/config.ini
SeewoFreeze/coreSystem/Crash_zsystem.dll
SeewoFreeze/CoverShutdown.exe
SeewoFreeze/covershutdown_zh.qm
SeewoFreeze/CrashRpt.exe
SeewoFreeze/CrashSDK.dll
SeewoFreeze/desktop.ini
SeewoFreeze/Firewall.json
SeewoFreeze/Friday.dll
SeewoFreeze/glog.dll
SeewoFreeze/HttpClient.dll
SeewoFreeze/InjectAdapter.exe
SeewoFreeze/InjectDll.dll
SeewoFreeze/Injector.exe
SeewoFreeze/install.bat
SeewoFreeze/Installer.exe
SeewoFreeze/InstallPackageTool.ini
SeewoFreeze/InstallPackageTool.exe
SeewoFreeze/internalSystem/Friday_zsystem.dll
SeewoFreeze/IotPlugin.dll
SeewoFreeze/IotPluginModule.dll
SeewoFreeze/jsoncpp.dll
SeewoFreeze/libcurl.dll
SeewoFreeze/libEasiUpdate3.dll
SeewoFreeze/libGLESv2.dll
SeewoFreeze/license/SeewoFreeze_license.rtf
SeewoFreeze/license/SeewoFreeze_license_en.rtf
SeewoFreeze/LinkLogVDisk.bat
SeewoFreeze/LinkConfVDisk.bat
SeewoFreeze/msvcp140.dll
SeewoFreeze/msys-2.0.dll
SeewoFreeze/msys-iconv-2.dll
SeewoFreeze/msys-intl-8.dll
SeewoFreeze/ota_install.bat
SeewoFreeze/platforms/qwindows.dll
SeewoFreeze/PluginFrame.dll
SeewoFreeze/PsExec.exe
SeewoFreeze/qt.conf
SeewoFreeze/Qt5Core.dll
SeewoFreeze/Qt5Gui.dll
SeewoFreeze/Qt5Multimedia.dll
SeewoFreeze/Qt5MultimediaQuick_p.dll
SeewoFreeze/Qt5MultimediaWidgets.dll
SeewoFreeze/Qt5Network.dll
SeewoFreeze/Qt5Widgets.dll
SeewoFreeze/rdClose.bat
SeewoFreeze/rdLogAppdata.json
Licence.txt
LICENSE
SeewoFreeze/rdLogProgramData.json
SeewoFreeze/rdOpen.bat
SeewoFreeze/ReserveFileUI.exe
SeewoFreeze/RestoreConfig.ini
SeewoFreeze/ring0_code.dll
SeewoFreeze/runtime.ini
SeewoFreeze/SeewoFreezeUI.exe
SeewoFreeze/SeewoFreezeUpdateAssist.exe
SeewoFreeze/SeewoMiniDumpWriteDump.exe
SeewoFreeze/SendEmail.exe
SeewoFreeze/split.exe
SeewoFreeze/SWAceUser.exe
SeewoFreeze/SWBrookUser.exe
SeewoFreeze/SWFreeze.inf
SeewoFreeze/SWFreeze.mof
SeewoFreeze/SWFreeze.sys
SeewoFreeze/SWFrzAlbendazole.inf
SeewoFreeze/SWFrzAlbendazole.mof
SeewoFreeze/SWFrzAlbendazole.sys
SeewoFreeze/SWlogo.ico
SeewoFreeze/TestBSOD.bat
SeewoFreeze/TestModelClose.bat
SeewoFreeze/TestModelOpen.bat
SeewoFreeze/tinyxml2.dll
SeewoFreeze/tracepdb.exe
SeewoFreeze/ucrtbase.dll
SeewoFreeze/UnfreezeOnPe.exe
SeewoFreeze/uninstall.bat
SeewoFreeze/vcruntime140.dll
SeewoFreeze/Verify.json
SeewoFreeze/win10/WinCPUoC.sys
SeewoFreeze/win10/WinCPUoC64.sys
SeewoFreeze/win7/WinCPUoC.sys
SeewoFreeze/win7/WinCPUoC64.sys
SeewoFreeze/x32_win7signed/SWFreeze.inf
SeewoFreeze/x32_win7signed/SWFreeze.sys
SeewoFreeze/x32_win7signed/SWFrzAlbendazole.inf
SeewoFreeze/x32_win7signed/SWFrzAlbendazole.sys
SeewoFreeze/x64/1910ffa0-36a5-31da-7600-b8b380ebcd6b.tmf
SeewoFreeze/x64/8d4dc25b-3ffb-37d3-bc3d-0ec21f1fce8e.tmf
SeewoFreeze/x64/api-ms-win-core-console-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-datetime-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-debug-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-errorhandling-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-file-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-file-l1-2-0.dll
SeewoFreeze/x64/api-ms-win-core-file-l2-1-0.dll
SeewoFreeze/x64/api-ms-win-core-handle-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-heap-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-interlocked-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-libraryloader-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-localization-l1-2-0.dll
SeewoFreeze/x64/api-ms-win-core-memory-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-namedpipe-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-processenvironment-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-processthreads-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-processthreads-l1-1-1.dll
SeewoFreeze/x64/api-ms-win-core-profile-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-rtlsupport-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-string-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-synch-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-synch-l1-2-0.dll
SeewoFreeze/x64/api-ms-win-core-sysinfo-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-timezone-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-core-util-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-conio-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-convert-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-environment-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-filesystem-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-heap-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-locale-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-math-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-multibyte-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-private-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-process-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-runtime-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-stdio-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-string-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-time-l1-1-0.dll
SeewoFreeze/x64/api-ms-win-crt-utility-l1-1-0.dll
SeewoFreeze/x64/concrt140.dll
SeewoFreeze/x64/InjectDll.dll
SeewoFreeze/x64/Injector.exe
SeewoFreeze/x64/msvcp140.dll
SeewoFreeze/x64/SWFreeze_x64.mof
SeewoFreeze/x64/SWFrzAlbendazole.mof
SeewoFreeze/x64/tracepdb.exe
SeewoFreeze/x64/ucrtbase.dll
SeewoFreeze/x64/vccorlib140.dll
SeewoFreeze/x64/vcruntime140.dll
SeewoFreeze/x64_win10signed/swfreeze.cat
SeewoFreeze/x64_win10signed/SWFreeze.inf
SeewoFreeze/x64_win10signed/SWFreeze.sys
SeewoFreeze/x64_win10signed/swfrzalbendazole.cat
SeewoFreeze/x64_win10signed/SWFrzAlbendazole.inf
SeewoFreeze/x64_win10signed/SWFrzAlbendazole.sys
SeewoFreeze/x64_win7signed/SWFreeze.cat
SeewoFreeze/x64_win7signed/SWFreeze.inf
SeewoFreeze/x64_win7signed/SWFreeze.sys
SeewoFreeze/x64_win7signed/SWFrzAlbendazole.cat
SeewoFreeze/x64_win7signed/SWFrzAlbendazole.inf
SeewoFreeze/x64_win7signed/SWFrzAlbendazole.sys
SeewoKiller.dev
SeewoKiller.exe
SeewoKiller.layout
SlytherinOS_private.h
SlytherinOS_private.rc
SlytherinOS_private.res
Verify.json
xwbb/desktop.ini
xwbb/do/Banner.png
xwbb/do/set.bat
xwbb/undo/Origin.png
xwbb/undo/restore.bat
备份/main.cpp
备份/SeewoKiller.dev
备份/SlytherinOS_private.h
备份/SlytherinOS_private.rc
备份/SlytherinOS_private.res
安装包/Seewo Killer 0.1_Build20240819194853_PublicBeta3.exe
安装包/Seewo Killer 0.2_Build20240826131725.exe
安装包/SeewoKiller 0.3.0.2.exe
Licence.txt
LICENSE
SeewoKiller.dev
SeewoKiller.exe
SeewoKiller.layout
SlytherinOS_private.h
SlytherinOS_private.rc
SlytherinOS_private.res
Verify.json
Verify.json
Licence.txt
